<!--intro.html gives assignment intro and background.-->

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
  .header-bg {
    width:100%;
    height:200px;
    background: url("https://images4.alphacoders.com/795/thumb-1920-79578.png");
    background-size:cover;
  }
  </style>
  <title>
      Introduction
  </title>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">CVPaint</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/intro">Introduction</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/rules">Rules</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/draw">Start</a>
      </li>
    </ul>
  </div>
</nav>

<div class="header-bg">
  <div>
    <br><br><br>
    <h1 class="text-center" style="color:white">Learn about our Project</h1>
    <br><br>
  </div>
</div>

<div class="container" text-justify>
  <body>
  <br>
  <h4 style="color:blue" class="text-center">The Project</h4>
  <p> CVPaint is an interactive drawing program that allows users to "draw" on their screen using colored "wands". Our program uses openCV, flask, and html to allow users to create interactive art with nothing but a computer and a "wand" (aka anything of color). We made our program accessible by encapsulating it in a web app and... CVPaint is our teams final project and includes many of the techniques we learned throughout the semester.  </p>
  <h4 style="color:blue" class="text-center">The Class</h4>
  <p> SoftDes, or Software design, is an introductory Engineering and computing class that focuses on the design of dynamic code. Students learn how to work with biology data, computative art, video games, and more throughout the semester with a combination of projects, toolboxes, labs, and other assignments. This project is the culmination of what we learned in SoftDes.</p>
  <h4 style="color:blue" class="text-center">The School</h4>
  <p> Olin College prepares students to become exemplary engineering innovators who recognize needs, design solutions, and engage in creative enterprises for the good of the world. Olin is dedicated to continual discovery and development of effective learning approaches and environments, and to co-developing educational transformation with collaborators around the globe. </p>
  <h4 style="color:blue" class="text-center">The New Knowledge</h4>
  <p> This is what we learned and cool skills we now have... </p>
</body>
</div>

</html>
