<!--intro.html gives assignment intro and background.-->

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
  .header-bg {
    width:100%;
    height:200px;
    background: url("https://images4.alphacoders.com/795/thumb-1920-79578.png");
    background-size:cover;
  }
  </style>
  <title>
      Introduction
  </title>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Put Wand logo here</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/intro">Introduction</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/rules">Rules</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/draw">Start</a>
      </li>
    </ul>
  </div>
</nav>

<div class="header-bg">
  <div>
    <br><br><br>
    <h1 class="text-center" style="color:white">Learn about our Project</h1>
    <br><br>
  </div>
</div>

<div class="container" text-justify>
  <body>
  <br>
  <p class="text-center"> This is our project and what it does... </p>
  <p> This is why we did it and Olin is so special... </p>
  <p> This is what we learned and cool skills we now have... </p>
</body>
</div>

</html>
