<!--intro.html gives assignment intro and background.-->

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
  .header-bg {
    width:100%;
    height:200px;
    background: url("https://images4.alphacoders.com/795/thumb-1920-79578.png");
    background-size:cover;
  }
  .content_center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .topnav {
    overflow: hidden;
    background-color: white; /* #333 */
  }
  .topnav a {
    float: left;
    color: black; /*#f2f2f2;*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav b {
    float: left;
    color: black;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    transition: 0.6s;
  }
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  .button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  .button:hover {opacity: 1}
  .buffer_text {
    padding: 10px 50px;
  }
  </style>
    <title>Rules</title>
    <link rel="icon" href="static/Wand.png"></link>
</head>

<div class="topnav">
  <b href="#"><img src="static/Wand.png" alt="Wand" style="width:7%"> CVPaint</b>
  <a href="/">Home</a>
  <a href="/intro">Introduction</a>
  <!-- <a href="/story">Evolution</a> -->
  <a class="active" href="/rules">How To Play</a>
  <a href="/draw">Start</a>
</div>

<div class="header-bg">
  <div>
    <br><br><br>
    <h1 class="text-center" style="color:white">How to use our Product</h1>
    <br><br>
  </div>
</div>

<div class="container" text-justify>
  <body>

    <br>
    <h4 style="color:blue" class="text-center">FYI</h4>
    <p> Our code doesn't work on heroku perfectly yet and we believe it will take
      more skill and more time than we currently have to make our webapp quickly
      access and process the camera feed. As a result, all the instructions for
      downloading and using our program is detailed below. </p>
    <br>

    <h4 style="color:blue" class="text-center">What you need</h4>
    <p> If you've gotten this far without downloading the program from github,
      Congrats! We don't know how you got this far, but you should really go to github
      now, read the ReadMe and follow the instructions. </p>
    <div class="content_center">
      <a href="https://github.com/EamonCOBrien/Software-Design-Final-Project">
        <button class="button">Click to visit GitHub and download CVPaint</button>
      </a>
    </div>

    <br>
    <p> Now that you have the CVPaint downloaded you can start having fun. To
      get the most out of your CVPaint experience, you will need a magic wand.
      CVPaint's wand tracking uses color tracking, so as long as you have
      something with 2 different colors for the program to track (and you don't
      happen to be wearing one of those colors) you'll be fine. Your wand will
      only be limited by your imagination, but here are a few ideas to start you
      off: </p>
      <ol>
        <li>Two sticky notes back to back. You can use a pencil as a handle.</li>
        <li>A ping pong paddle</li>
        <li>Your phone (in a pinch)</li>
        <li><b>Magic Wand*</b></li>
        <p> *Recommended if you have acess to a 3D printer <a href="#bottom">go to STL download here</a></p>
      </ol>
      <br>

      <h4 style="color:blue" class="text-center">How To Play</h4>
    <p> To start the program, you must click the rightmost tab labeled Start.
      You will then be directed to the calibration screen. Follow the instructions on
      the screen asking you to hold the first side of your wand in the circle. After
      5 seconds the program will capture and save the color of whatever is in the
      circle at that time. Then do the same for the second side of your wand. This
      will determine which side of the wand is the selector, and which is the pen.
    <p> We'll talk about all the cool gadgets you can use. </p>
    <p> After calibration, you can start exploring and drawing whatever you wish.
      The tools and gadgets on the top of your screen are as follows:
      Clear, pen, eraser, thickness, color, rectangle, circle, and recalibrate.
      To use each tool, you must first select it with the selector side of your wand.
      (side 2). Then you can flip the wand and use the pen tool (side 1).

    <div class="content_center">
      <a href="https://youtu.be/FYBZRMhn-AE">
        <button class="button">Click to Watch Tutorial</button>
      </a>
    </div>
    <br>

    <h4 style="color:blue" class="text-center">Tools and Gadets</h4>
    <div class="panel panel-default">
       <div class="panel-body">
         <p>
           <img src="static/Clear.png" alt="Clear" width="100" height="100" align="left">
           This is the clear button. When clicked, all of the drawings on the screen will be deleted.
         </p>
       </div>
    </div>

    <div class="panel panel-default">
       <div class="panel-body">
         <p>
           <img src="static/Pen.png" alt="Pen" width="100" height="100" align="left">
           This is the pen-tool button. When clicked (if the tool is currently eraser, rectangle, or circle), this button allows you to draw free-form lines again.
        </p>
       </div>
    </div>

    <div class="panel panel-default">
       <div class="panel-body">
         <p>
           <img src="static/Erase.png" alt="Erase" width="100" height="100" align="left">
           This is the erase button. It changes the drawing wand color to an eraser that will erase parts of lines as it is waved across them.
        </p>
       </div>
    </div>

    <div class="panel panel-default">
       <div class="panel-body">
         <p>
           <img src="static/Thickness.png" alt="Thickness" width="100" height="100" align="left">
           This is the thickness button. It brings up a menu of thicknesses that effect the line thickness and eraser size.
         </p>
<br>
<br>
<br>
         <p>
           <img src="static/Thick.png" alt="Thick" width="100" height="100" align="left">
           <img src="static/Medium.png" alt="Medium" width="100" height="100" align="left">
           <img src="static/Thin.png" alt="Thin" width="100" height="100" align="left">
           These are the thickness options. They appear when the thickness button is pressed. They represent the three possible line thickness and eraser sizing options. Wave the wand over the size of choice to continue with your drawing.
         </p>
       </div>
    </div>

    <div class="panel panel-default">
       <div class="panel-body">
         <p>
           <div>
             <img src="static/Color.png" alt="Color Wheel" width="100" height="100" align="left">
             <br>
             This is the color choice button. When selected it brings up the color slider.
             <br><br><br><br>
           </div>
         </p>

         <p>
           <div>
             <img src="static/ColorBar.png" alt="Color Bar" width="400" height="40" align="left">
           </div>
           <br><br><br>
           This is the color slider. It appears when the color choice button is pressed. Wave the wand over this bar until the desired color appears in the box to it's right. Then carefully move the wand off of the color bar and click the colored check box.
        </p>
       </div>
    </div>

    <div class="panel panel-default">
       <div class="panel-body">
         <p>
           <img src="static/Rectangle.png" alt="Rectangles" width="100" height="100" align="left">
           This is the rectangle button. With it selected, the first time the program sees the pen side of your wand, it will start drawing a rectangle with the cursor's first position as the corner. The rectangle will end when you switch back to the select side, connecting the opposite corners.
         </p>
       </div>
    </div>

    <div class="panel panel-default">
       <div class="panel-body">
         <p>
           <img src="static/Ellipse.png" alt="Circles" width="100" height="100" align="left">
           This is the ellipse button. With it selected, the first time the program sees the pen side of your wand, it will start drawing an ellipse with the cursor's first location as the center. Turn the wand back to the select side when you are happy with the radius you've selected.
         </p>
       </div>
    </div>

    <div class="panel panel-default">
       <div class="panel-body">
         <p>
           <img src="static/Calibrate.png" alt="Calibrate" width="100" height="100" align="left">
           This is the recalibration button. If the wand isn't registering correctly, click this to rerun the initial calibration. Also consider moving to an area with less in the background.
         </p>
       </div>
    </div>

    <div class="content_center">
      <img src="static/MagicWand.png" alt="Wand STL" style="width:320px">
      <br>
    </div>
    <div class="content_center">
      <a name ="bottom" href="static/Wand.stl" download="Magic Wand STL">
        <button class="button">Click to download Magic Wand STL</button>
      </a>
    </div>

  </body>
</div>

<!-- Footer -->
<section id="footer">
	<div class="container">
    <div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-black">
        <br><br>
				<p><u><a style="color:blue" href="https://github.com/EamonCOBrien/Software-Design-Final-Project/">CVPaint</a></u> is a final project created by students of <u><a style="color:blue" href="https://olin.edu">Franklin W. Olin College of Engineering</a></u> in Needham, MA</p>
				<!--<p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>-->
			</div>
		</div>
	</div>
</section>
<!-- ./Footer -->
</html>
