<!--intro.html gives assignment intro and background.-->

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
  .header-bg {
    width:100%;
    height:200px;
    background: url("https://images4.alphacoders.com/795/thumb-1920-79578.png");
    background-size:cover;
  }
  .vertical{
    margin-top:10%;
  }
  .content_center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  </style>
  <title>
      Introduction
  </title>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">CVPaint</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/intro">Introduction</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/story">Evolution</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/rules">How to Play</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/draw">Start</a>
      </li>
    </ul>
  </div>
</nav>

<div class="header-bg">
  <div>
    <br><br><br>
    <h1 class="text-center" style="color:white">The Evolution of CVPaint</h1>
    <br><br>
  </div>
</div>

<div class="container" text-justify>
  <body>
    <div class="row">
      <div class="col-4"> <!-- dif ized mage, smaller? -->
        <div class="thumbnail">
          <img src="static/placeHold.jpeg" alt="MP4 final pic" style="width:100%">
          <div class="MP4Pic">
            <p class="text-center">MP4 original program</p>
          </div>
        </div>
      </div>
      <div class="col-8">
        <!-- <br><br><br><br> -->
        <h4 style="color:blue" class="text-center">Our Story/Process</h4>
        <p class="content_center"> CVPaint started as a mini-project meant to teach students how to make interactive programs through game design.
         We started the project using python and openCV to make basic color tracking and drawing capabilities. </p>
       </div>
     </div>
   </body>
</div>

</html>
